.title {
    color: var(--color-not-black);
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-bold);
    margin-right: var(--spacing-third);
}

.director,
.origTitle,
.year {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
}

.director {
    display: block;
}

.origTitle {
    margin-left: var(--spacing-sixth);
}

.year {
    margin-right: var(--spacing-third);
}
