.container {
    border: 2px solid var(--color-light-grey);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-medium-small);
    justify-content: center;
    margin: var(--spacing-third) 0;
    min-height: var(--spacing-double);
    padding: var(--spacing-sixth) var(--spacing-third);

    &.isYellow {
        border-color: var(--color-yellow);
    }

    &.isGreen {
        border-color: var(--color-green);
    }
}

.icon {
    width: 28px;
}

.topWrapper {
    align-items: center;
    display: flex;
}

.skipped {
    color: var(--color-dark-grey);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-sans-bold);
}
