.container {
    margin-bottom: var(--spacing-double);
    text-align: center;
}

.shoulda {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    margin-bottom: 0;
    text-transform: uppercase;
}

.correctTitle {
    display: block;
    font-size: var(--font-size-medium-large);
    font-weight: var(--font-weight-sans-bold);
    line-height: 1.2;
    margin: var(--spacing-quarter) 0;
}

.titleGroup {
    align-items: baseline;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.altTitle {
    color: var(--color-dark-grey);
    display: inline-flex;
    font-size: var(--font-size-medium-small);
    margin-left: var(--spacing-third);
}

.year {
    color: var(--color-dark-grey);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-sans-normal);
}

.director {
    color: var(--color-dark-grey);
    display: block;
    font-size: var(--font-size-base);
}

.share {
    background-color: var(--color-dark-grey);
    border-radius: 4px;
    color: var(--color-white);
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-bold);
    margin-top: var(--spacing-half);
    padding: var(--spacing-third) var(--spacing-half);
    transition: all 300ms ease;

    &:hover {
        background-color: var(--color-not-black);
    }
}

.toShare {
    border: 2px solid var(--color-light-grey);
    border-radius: 2px;
    display: inline-block;
    font-size: var(--font-size-small);
    margin-top: var(--spacing-single);
    padding: var(--spacing-half);
    white-space: pre-wrap;
}
