.container {
    margin-bottom: var(--spacing-double);
    text-align: center;
}

.share {
    background-color: var(--color-dark-grey);
    border-radius: 4px;
    color: var(--color-white);
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-bold);
    margin-top: var(--spacing-half);
    padding: var(--spacing-third) var(--spacing-half);
    transition: all 300ms ease;

    &:hover {
        background-color: var(--color-not-black);
    }
}

.toShare {
    border: 2px solid var(--color-light-grey);
    border-radius: 2px;
    display: inline-block;
    font-size: var(--font-size-small);
    margin-top: var(--spacing-single);
    padding: var(--spacing-half);
    white-space: pre-wrap;
}
