.container {
    align-items: center;
    border: 2px solid var(--color-light-grey);
    border-radius: 4px;
    display: flex;
    font-size: var(--font-size-medium-small);
    margin: var(--spacing-third) 0;
    height: var(--spacing-double);
    padding: var(--spacing-sixth) var(--spacing-third);
}

.icon {
    margin-right: var(--spacing-third);
}
