@import 'inputs';
@import 'mixins';

.container {
    @include breakpoint('small') {
        position: relative;
    }
}

.inputWrapper {
    position: relative;
}

.input {
    @extend %inputBase;
    font-size: var(--font-size-medium-small);
    padding: var(--spacing-sixth) var(--spacing-third);
    width: 100%;
}

.loader {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    right: var(--spacing-half);
    top: 0;
}
