.day {
    color: var(--color-dark-grey);
    display: block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    text-transform: uppercase;
}

.hintTitle {
    display: block;
    font-size: var(--font-size-medium-large);
}
