@import 'inputs';

.container {
    position: relative;
}

.input {
    @extend %inputBase;
    font-size: var(--font-size-medium-small);
    padding: var(--spacing-sixth) var(--spacing-third);
    width: 100%;
}
