.prefillItem {
    cursor: pointer;
    padding: var(--spacing-third) var(--spacing-third);
    text-align: left;
    width: 100%;

    &:hover {
        background-color: var(--color-dark-grey);

        .director,
        .title,
        .year {
            color: var(--color-white);
        }
    }
}

.title {
    color: var(--color-not-black);
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-bold);
    margin-right: var(--spacing-half);
}

.director {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    display: block;
    margin-top: var(--spacing-sixth);
}

.year {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    margin-right: var(--spacing-half);
}
