.wrapper {
    padding: var(--spacing-single);
}

.container {
    background-color: var(--color-white);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 650px;
    padding: var(--spacing-single);
    width: 100%;
}
