@import 'mixins';

.container {
    margin: 0 auto;
    max-width: 650px;
    padding: var(--spacing-single) 0 var(--spacing-triple);
    width: 100%;

    @include breakpoint('small') {
        padding: var(--spacing-single) var(--spacing-single)
            var(--spacing-triple);
    }
}

.header {
    padding: 0 var(--spacing-single);

    @include breakpoint('small') {
        padding: 0;
    }
}

.pageTitleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-single);
    padding-bottom: var(--spacing-half);
}

.pageTitle {
    font-weight: var(--font-weight-sans-bold);
    text-decoration: underline;
}

.day {
    color: var(--color-dark-grey);
    display: block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    text-transform: uppercase;
}

.hintTitle {
    display: block;
    font-size: var(--font-size-medium-large);
}
