.post {
    position: relative;
}

.lastPost {
    margin-bottom: var(--spacing-single);
}

.result {
    font-size: 8px;
    margin-left: -1rem;
    position: absolute;
    top: 6px;
}

.day {
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    font-weight: var(--font-weight-sans-medium);
}
