.item {
    background-color: var(--color-lightest-grey);
    border-radius: 4px;
    color: var(--color-not-black);
    display: inline-block;
    margin: var(--spacing-quarter);

    button {
        color: var(--color-not-black);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-sans-medium);
        padding: var(--spacing-quarter) var(--spacing-third);
    }

    &.selected {
        background-color: var(--color-light-grey);

        button {
            font-weight: var(--font-weight-sans-bold);
        }
    }
}
