.settingToggle {
    align-items: center;
    display: flex;

    label {
        margin-left: var(--spacing-half);
    }
}

.settingToggleInput {
    appearance: none;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-grey);
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 var(--color-white);
    position: relative;
    height: 30px;
    outline: none;
    transition-duration: 200ms;
    width: 50px;

    &::after {
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
        content: '';
        height: 26px;
        left: 1px;
        position: absolute;
        top: 1px;
        width: 26px;
    }

    &:checked {
        background-color: #ffffff;
        border-color: #4ed164;
        box-shadow: inset 20px 0 0 0 #4ed164;

        &::after {
            box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
            left: 20px;
        }
    }

    &:disabled {
        background-color: var(--color-light-grey);
        border-color: var(--color-medium-grey);
        box-shadow: inset -20px 0 0 0 var(--color-medium-grey);

        &::after {
            background-color: var(--color-light-grey);
        }
    }
}
