.grid {
    border: 2px solid var(--color-light-grey);
    border-radius: 4px;
    margin-top: var(--spacing-single);
    padding: var(--spacing-third) var(--spacing-half);
}

.title {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    text-align: center;
    text-transform: uppercase;
}

.gridItem {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-sans-bold);
}

.guess {
    flex-basis: 20px;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    margin-right: var(--spacing-sixth);
}

.gridItemSpan {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    display: inline-block;
    padding: var(--spacing-sixth);
    margin: var(--spacing-sixth) 0;
    min-width: 20px;
    text-align: center;
}
