.container {
    flex-grow: 1;
    padding: var(--spacing-third);
    text-align: center;
}

.title {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-sans-medium);
    text-transform: uppercase;
}

.number {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-sans-bold);
}
