@import 'mixins';

.modal {
    background-color: var(--color-white);
    border: 2px solid var(--color-light-grey);
    border-radius: 4px;
    left: 50%;
    max-width: 95%;
    min-height: 240px;
    outline: none;
    padding: var(--spacing-single);
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include breakpoint('small') {
        max-width: 450px;
    }
}

.header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-single);
}

.headerTitle {
    font-size: var(--font-size-large);
    margin-bottom: 0;
}

.close {
    color: var(--color-dark-grey);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-sans-bold);
    padding: 0;
    transition: all 300ms ease;

    &:hover {
        color: var(--color-not-black);
    }
}

.stats {
    display: flex;
    flex-wrap: wrap;
}
